.titulo{
    color: rgb(0, 0, 0);
    text-align: center;
}

.img{
    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;
}

.linha {
    width: 100vw;
    height: 20vh;
    background-color: #ffffff;
}

.banner {
    background-image: url('../../assets/banner.png');
    min-height: 80vh;
    background-size: cover;
}